.bt_choiseC {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    position: fixed;
    top: 350px;
    left: 250px;
    background-color: lightgray;
    box-shadow: 4px 4px 12px 3px rgb(34, 33, 33);
    text-align: center;
}

.bt_choiseM {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    position: fixed;
    top: 350px;
    left: 550px;
    background-color: rgb(250, 246, 187);
    box-shadow: 4px 4px 12px 3px black;
    text-align: center;
}